<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Tutoria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>isProfile</display-name>
    <servlet-name>isProfile</servlet-name>
    <servlet-class>com.sign.isProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>isProfile</servlet-name>
    <url-pattern>/isProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connection</display-name>
    <servlet-name>Connection</servlet-name>
    <servlet-class>com.connection.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StdData</display-name>
    <servlet-name>StdData</servlet-name>
    <servlet-class>com.student.StdData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StdData</servlet-name>
    <url-pattern>/StdData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindTeacher</display-name>
    <servlet-name>FindTeacher</servlet-name>
    <servlet-class>com.student.FindTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindTeacher</servlet-name>
    <url-pattern>/findTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Apply</display-name>
    <servlet-name>Apply</servlet-name>
    <servlet-class>com.student.Apply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Apply</servlet-name>
    <url-pattern>/apply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppStatus</display-name>
    <servlet-name>AppStatus</servlet-name>
    <servlet-class>com.student.AppStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppStatus</servlet-name>
    <url-pattern>/appStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TchData</display-name>
    <servlet-name>TchData</servlet-name>
    <servlet-class>com.teachers.TchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TchData</servlet-name>
    <url-pattern>/tchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createClass</display-name>
    <servlet-name>createClass</servlet-name>
    <servlet-class>com.teacher.createClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createClass</servlet-name>
    <url-pattern>/createClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getClass</display-name>
    <servlet-name>getClass</servlet-name>
    <servlet-class>com.teacher.getClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getClass</servlet-name>
    <url-pattern>/getClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassTiming</display-name>
    <servlet-name>ClassTiming</servlet-name>
    <servlet-class>com.teacher.ClassTiming</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassTiming</servlet-name>
    <url-pattern>/ClassTiming</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationStatus</display-name>
    <servlet-name>ApplicationStatus</servlet-name>
    <servlet-class>com.teacher.ApplicationStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationStatus</servlet-name>
    <url-pattern>/ApplicationStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptStudent</display-name>
    <servlet-name>AcceptStudent</servlet-name>
    <servlet-class>com.teacher.AcceptStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptStudent</servlet-name>
    <url-pattern>/AcceptStudent</url-pattern>
  </servlet-mapping>
</web-app>